.wan_top_bg {
    background: url(http://p3.qhmsg.com/d/inn/89605064/topbg.png) repeat-x scroll center top #021215;
    font-family: "\5fae\8f6f\96c5\9ed1"
}

.topnav {
    height: 46px;
    line-height: 46px;
    width: 1000px;
    margin: auto;
    background: url(http://p3.qhmsg.com/d/inn/89605064/topbg.png) 0 0 no-repeat;
    /*_filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src="http://p3.qhmsg.com/d/inn/89605064/topbg.png");*/
    _background-image: none;
    /*repeat-x;*/
}

.top_bar_wrap {
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: #747474
}

.topnav a,
.wan_top_bar a:hover {
    color: #747474
}

.topnav .top_bar_wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative
}

.topnav .top_360logo {
    background: url("../images/Logo GTV_Quy chuan_01_File-01.png") no-repeat;
    background-size: 65%;
    width: 138px;
    height: 36px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    margin: 0 22px 0 0
}

.topnav .top_slogan {
    background: url(http://p5.qhmsg.com/d/inn/12f8dc8b/slogan.png) no-repeat;
    width: 108px;
    height: 45px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    float: left
}

.topnav .top_fav {
    position: absolute;
    top: 13px;
    right: 0
}

.topnav .top_fav a {
    background: url(http://p3.qhmsg.com/d/inn/a826da73/icofun.png) no-repeat;
    background-position: -60px 0;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 0 0 10px;
    display: inline;
    line-height: 150px;
    overflow: hidden
}

.topnav .top_fav a.icoHome {
    background-position: 0 0
}

.topnav .top_fav a.icoSite {
    background-position: -30px 0
}

.topnav .top_fav a.icoDesk {
    background-position: -60px 0
}

.logStatus {
    position: absolute;
    right: 100px;
    font-size: 12px
}

.logStatus a {
    text-decoration: none;
    margin-left: 1em;
    cursor: pointer
}

.logStatus a:hover {
    color: #2787d3;
    text-decoration: underline
}

.top_fav a img {
    border: 0;
    width: 20px;
    height: 20px
}
