@charset "utf-8";
*, ::after, ::before {
    box-sizing: unset;
}
a,
body {
    color: #666
}

.main,
.pos,
.top {
    position: relative
}

.more,
.start {
    text-indent: -9999px
}

.public a,
.server-list a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

#focus,
#focus .Focus_list li img,
#focus .count li,
.clear,
.data-con-list li,
.flash,
.news,
.newsTab,
.newsTag,
.newsTag li,
.public a,
.server-list,
.server-list a,
.wrap {
    overflow: hidden
}

.closeWin,
.mtTab li,
.newsTab li,
.top-video {
    cursor: pointer
}

.newsTag li,
.public li,
.server-list-box {
    vertical-align: bottom
}

article,
aside,
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
legend,
li,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
    padding: 0;
    margin: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-weight: 400;
    font-style: normal
}

ul {
    list-style: none
}

caption,
th {
    text-align: left
}

.login-btn a,
.menu,
.newsTab li,
.server-list a,
.un-more {
    text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

abbr,
acronym,
img,
input {
    border: 0
}

button,
input,
optgroup,
option,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

.loginTab li:hover a,
.menu a:hover,
.newsTab li.cur,
.newsTab li.cur a {
    font-size: 16px;
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
    outline: 0
}

a:focus,
input:focus {
    outline: 0
}

body {
    font-size: 12px;
    font-family: Microsoft Yahei, arial, "%undefined7%undefined3"
}

article,
aside,
footer,
header,
section {
    display: block
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0
}

.floatL {
    float: left
}

.floatR {
    float: right
}

.wrap {
    width: 100%;
    min-width: 1200px;
    background: url(http://p4.qhimg.com/t017abd000c54781cc7.jpg) center top no-repeat #fff
}

.main {
    width: 1200px;
    margin: 0 auto;
    background: url("../images/background__1201x2915.jpg") center top no-repeat;
    padding-bottom: 50px
}

.in-page {
    background: url(http://p7.qhimg.com/t01cc7c37793c223779.jpg) center top no-repeat #f6f2f4
}

.in-page .main {
    background: url("../images/bg_news1.png") center top no-repeat
}

.top {
    height: 769px
}

.in-page .top {
    height: 622px
}

.ani {
    transition: .5s;
    -webkit-transition: .5s
}

.winBox {
    position: fixed;
    _position: absolute;
    left: 50%;
    z-index: 99999;
    display: none;
    border: 5px solid #505050
}

.winCover {
    background: #000;
    opacity: .5;
    filter: Alpha(Opacity=50);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99990
}

#focus .Focus_list li,
.top-video {
    opacity: 0;
    filter: alpha(opacity=0)
}

.closeWin {
    position: absolute;
    top: -5px;
    right: -49px;
    display: block;
    width: 44px;
    height: 44px;
    background: url(http://p5.yx-s.com/d/inn/bba4825a/theme/images/gb.jpg) no-repeat;
    z-index: 9
}
.cons,
.menu {
    position: relative
}

.menu {
    z-index: 2;
    padding: 18px 0 0 153px
}

.flash,
.logo,
.top-video {
    position: absolute
}

.menu a {
    float: left;
    margin-right: 42px;
    *display: inline;
    color: #3b3a54;
    font-size: 18px
}

.menu a.m3 {
    margin-right: 297px
}

.menu span {
    display: block;
    font-size: 12px
}

.logo {
    left: 490px;
    top: 0;
    z-index: 3
}

.logo a,
.logo a:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    clear: both;
    width: 238px;
    height: 144px;
    font-size: 0;
    background: url("../images/logo-min.png") no-repeat;
    background-size: 100%;
}

.logo:hover a:after {
    animation: scale2 linear 1.3s infinite;
    -webkit-animation: scale2 linear 1.3s infinite
}

.top-video {
    z-index: 2;
    left: 484px;
    top: 492px;
    width: 78px;
    height: 78px;
    background: #000
}

.top-video a {
    display: block;
    width: 100%;
    height: 100%
}

@keyframes scale2 {
    100% {
        opacity: 0;
        transform: scale(1.2)
    }
}

@-webkit-keyframes scale2 {
    100% {
        opacity: 0;
        transform: scale(1.2);
        -webkit-transform: scale(1.2)
    }
}

.flash {
    left: 50%;
    top: 0;
    margin-left: -960px;
    z-index: 1;
    width: 1920px;
    height: 950px
}

.in-page .flash,
.in-page .top-video {
    display: none
}

.cons {
    z-index: 2;
    height: 325px
}

#focus,
.game-txt {
    float: left;
    height: 100%;
    position: relative
}

.game-txt {
    width: 300px;
    z-index: 2;
    background: #ffffff;
}

#focus {
    width: 440px;
    margin-right: 10px;
    display: inline
}

.news {
    float: right;
    position: relative;
    width: 390px;
    height: 305px;
    padding: 20px 25px 0;
    background: url(http://p1.qhimg.com/t01e863d9d7722bd3f0.jpg) no-repeat
}

.start {
    display: block;
    width: 300px;
    height: 70px;
    background: #ea6453
}
.p-text {
    display: block;
    width: 300px;
    height: 50px;
    background: #ea6453;
    font-size: 30px;
    color: #111;
    text-align: center;
}

.p-text img {
    width: 100%;
}

.login-btn {
    height: 29px;
    margin: 15px 0 0 3px
}

.login-btn a {
    float: left;
    width: 94px;
    height: 30px;
    border: 1px solid #a28c62;
    color: #896a48;
    font-size: 15px;
    line-height: 27px;
    transition: .5s;
    -webkit-transition: .5s;
    margin-right: 3px;
    display: inline
}

.login-btn a:hover {
    background: #a28c62;
    color: #f4efda
}
.download-btn{
    padding: 20px;
}
.download-btn a {
    display: block;
    font-size: 15px;
    line-height: 27px;
    transition: .5s;
    -webkit-transition: .5s;
    margin-left: 0;
    margin-bottom: 10px;
}
/*.download-btn a:nth-child(2) {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

/*}*/
/*.download-btn a:last-child img{*/
   /*margin: auto;*/
/*}*/
.download-btn a img {
    width: 80%;
    height: auto;
    margin-top: 5px;
    margin-left: 25px;
}
.server-tit {
    padding: 10px 0 0 3px;
    font-size: 16px;
    color: #896a48
}

.server-tit a {
    color: #896a48;
    font-size: 12px
}

.server-list {
    height: 67px;
    padding: 10px 0 0 30px
}

.server-list li {
    float: left;
    margin: 0 9px 8px 0;
    *display: inline
}

.server-list a {
    float: left;
    width: 115px;
    height: 29px;
    background: url(http://p7.qhimg.com/t01d4dc88577158429a.png) no-repeat;
    color: #f3f1ea;
    line-height: 29px;
    font-size: 15px
}

.more,
.newsTab li,
.un-more a {
    font-size: 14px
}

#myserver a {
    margin: 0 5px 10px 0
}

.un-more {
    line-height: 31px
}

.un-more a {
    color: #c94f43;
    text-decoration: underline
}

#focus .Focus_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    height: 325px;
    overflow: hidden;
    z-index: 1
}

#focus .Focus_list li {
    width: 100%;
    height: 100%
}

#focus .Focus_list li.current {
    opacity: 1;
    filter: alpha(opacity=100)
}

#focus .Focus_list li img {
    display: block;
    width: 100%;
    height: 100%
}

#focus .count {
    position: absolute;
    bottom: 15px;
    right: 40px;
    z-index: 2
}

#focus .count li {
    float: left;
    background-color: transparent;
    border: 2px solid #a28c62;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    _display: inline;
    line-height: 200px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s
}

#focus .count li.current {
    background: #a28c62
}

.newsTab {
    height: 20px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px
}

.newsTab li {
    float: left;
    color: #333;
    line-height: 18px;
    background: url(http://p1.qhimg.com/t019d12b54442131da1.png) right 3px no-repeat;
    padding: 0 15px
}

.more {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 22px;
    height: 22px;
    background: url(http://p5.qhimg.com/t015a2fbdae8ce984b5.png) no-repeat;
    color: #949494
}

.newsTag {
    position: relative;
    height: 229px;
    padding-top: 18px
}

.newsTag li {
    height: 15px;
    margin-bottom: 20px;
    *margin-bottom: 18px;
    line-height: 15px;
    color: #666
}

.mtTab li,
.news-title {
    line-height: 18px;
    text-align: center
}

.newsTag b {
    float: left;
    background: #666;
    padding: 0 3px;
    margin-right: 16px;
    display: inline;
    color: #fff;
    border-radius: 3px;
    font-weight: 400
}

.newsTag .newsL a {
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 265px;
    height: 15px;
    color: #949494;
    transition: .5s;
    -webkit-transition: .5s
}

.newsTag li:hover a,
.newsTag li:hover span {
    color: #84714f;
    text-decoration: none
}

.data-box a:hover,
.data-list-txt a:hover,
.mtTag a:hover,
.public a:hover {
    text-decoration: underline
}

.newsTag li:hover b {
    background: #84714f
}

.newsTag li:hover a {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px)
}

.news-title {
    font-size: 16px;
    padding-bottom: 17px
}

.news-title a {
    color: #bf4439
}

.public li {
    position: relative
}

.public a {
    display: block
}

.public span {
    position: absolute;
    right: 0;
    top: 0;
    color: #616161
}

.zy-pro {
    position: relative;
    height: 962px
}

.zy-tab,
.zy-tab a {
    position: absolute
}

.zy-tab {
    left: 839px;
    top: 337px;
    z-index: 2
}

.zy-tab a {
    display: block;
    left: 0;
    top: 0
}

.zy-tab a.s2 {
    top: 80px;
    left: 78px;
}

.zy-tab a.s3 {
    left: 123px;
    top: -30px;
}

.zy-tab a.s4 {
    top: -110px;
    left: 45px;
}

.zy-tab span {
    display: block;
    width: 136px;
    height: 136px
}

.zy-tac,
.zy-txt {
    position: absolute;
    width: 100%
}

.zy-tab span.z1 {
    background: url(http://p3.qhimg.com/t0106499ee3cbd11a72.png) no-repeat
}

.zy-tab span.z2 {
 background: url(http://p0.qhimg.com/t0166dc0631be7b91ea.png) no-repeat   
}

.zy-tab span.z3 {
    background: url(http://p4.qhimg.com/t01213f77111b3f14b4.png) no-repeat
}

.zy-tab span.z4 {
    background: url(http://p8.qhimg.com/t018be86ef183dbece8.png) no-repeat
}

.zy-tab a.cur span {
    animation: top linear 1.5s infinite;
    -webkit-animation: top linear 1.5s infinite
}

.zy-tab a.cur span.z1 {
    background: url(http://p3.qhimg.com/t01ac6c44cfab6da517.png) center top no-repeat
}

.zy-tab a.cur span.z2 {
    background: url(http://p3.qhimg.com/t01b31a5daafa3dad45.png) center top no-repeat
}

.zy-tab a.cur span.z3 {
	background: url(http://p4.qhimg.com/t015e9c640d16a5a225.png) center top no-repeat
}

.zy-tab a.cur span.z4 {
    background: url(http://p9.qhimg.com/t01601fd4e43fe97933.png) center top no-repeat
}

.zy-tac {
    z-index: 1;
    height: 100%
}

.zy-txt {
    top: -96px;
    left: 0;
    height: 1054px
}

.data-con,
.data-con-list li {
    position: relative;
    height: 472px;
    float: left
}

.zy-txt1 {
    background: url("../images/nhanvat4.jpg") no-repeat
}

.zy-txt2 {
    background: url("../images/nhanvat3.jpg") no-repeat
}

.zy-txt3 {
    background: url("../images/nhanvat2.jpg") no-repeat
}

.zy-txt4 {
    background: url("../images/nhanvat1.jpg") no-repeat
}

@keyframes top {
    0%,
    100% {
        transform: translateY(-3px)
    }
    50% {
        transform: translateY(0)
    }
}

@-webkit-keyframes top {
    0%,
    100% {
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px)
    }
    50% {
        transform: translateY(0);
        -webkit-transform: translateY(0)
    }
}

.data-con {
    z-index: 2;
    padding-left: 10px
}

.data-con-list li {
    width: 188px
}

.data-con-list li.data-list-1 {
    background: url("../images/nv1.png") no-repeat
}

.data-con-list li.data-list-2 {
    background: url("../images/nv2.png") no-repeat
}

.data-con-list li.data-list-3 {
    background: url("../images/nv3.png") no-repeat
}

.data-con-list li.data-list-4 {
    background: url("../images/nv4.png") no-repeat
}

.data-list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.show-list,
.show-list li {
    position: relative;
    overflow: hidden
}

.data-list-1 .data-list {
    background: url(http://p7.qhimg.com/t01a261eae940428e69.png) no-repeat
}

.data-list-2 .data-list {
    background: url(http://p0.qhimg.com/t01674ed1f75a7c35ae.png) no-repeat
}

.data-list-3 .data-list {
    background: url(http://p4.qhimg.com/t019d8436355357187d.png) no-repeat
}

.data-list-4 .data-list {
    background: url(http://p9.qhimg.com/t01c217a67f1cf4fa24.png) no-repeat
}

.data-list-txt {
    overflow: hidden;
    height: 312px;
    padding: 41px 0 0
}

.data-list-txt a {
    float: left;
    width: 18px;
    height: 104px;
    overflow: hidden;
    font-size: 16px;
    color: #e8d2be;
    margin: 0 0 0 36px;
    display: inline;
    text-align: center
}

.data-more {
    display: block;
    text-align: center;
    color: #ff9693;
    font-size: 16px
}

.show {
    float: right;
    width: 410px;
    background: url("../images/bg_.png") no-repeat
}

.con-l,
.mediaInfo,
.mtTab li,
.ser {
    float: left
}

.show-list {
    height: 138px;
    padding: 17px 0 0 78px;
    margin-bottom: 4px
}

.show-list li {
    float: left;
    width: 151px;
    height: 124px;
    margin: 0 12px 14px 0
}

.show-list img {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
    -webkit-transition: .5s
}

.show-list a:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2)
}

.video i {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -21px;
    width: 43px;
    height: 43px;
    background: url(http://p9.qhimg.com/t019c8f9287752073a9.png) no-repeat
}

.mtTag ul,
.ser,
.service {
    position: relative
}

.show-list li:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg)
}

.mediaCon {
    padding-top: 50px
}

.mediaInfo {
    width: 282px;
    margin-right: 24px;
    display: inline
}

.mediaInfo.last {
    margin-right: 0
}

.mtTab li {
    border-right: 1px solid #3c495c;
    color: #3c495c;
    font-size: 18px;
    width: 61px;
    height: 18px;
    transition: .5s;
    -webkit-transition: .5s
}

.mtTab {
    overflow: hidden;
    height: 18px;
    padding-bottom: 13px
}

.mtTab li.cur,
.mtTab li:hover {
    font-weight: 700
}

.mtTag {
    overflow: hidden;
    height: 107px;
    padding: 0
}

.mtTag li {
    height: 28px;
    font-size: 14px;
    line-height: 28px
}

.mtTag span {
    top: 0;
    color: #3c495c;
    right: 0
}

.mtTag a {
    margin-right: 60px;
    _width: 140px;
    color: #3c495c
}

.mtTag a:hover {
    color: #716c6c
}

.service {
    z-index: 2;
    margin-top: 58px;
    height: 55px;
    padding-left: 11px;
    text-align: center;
    border: 1px solid #eabbb9
}

.ser {
    height: 41px;
    padding: 14px 0 0 54px;
    margin-right: 35px;
    text-align: left;
    *display: inline;
    color: #3c495c;
    font-size: 18px
}

#search,
#search .select {
    height: 21px;
    cursor: pointer
}

.ser-1 {
    background: url(http://p2.qhimg.com/t01ac31899991e31aee.png) left 6px no-repeat
}

.ser-2 {
    background: url(http://p5.qhimg.com/t0192f5b8389fd7ef94.png) left 6px no-repeat
}

.ser-3 {
    background: url(http://p0.qhimg.com/t016a60f19e98f48fb6.png) left 6px no-repeat
}

.ser-4 {
    background: url(http://p9.qhimg.com/t01cae4ed06eed913fd.png) left 6px no-repeat
}

#search {
    position: absolute;
    top: 16px;
    left: 140px;
    width: 164px;
    background: url(http://p4.qhimg.com/t01bc6910e417673f92.png) no-repeat;
    font-size: 14px
}

#search .select {
    display: block;
    line-height: 21px;
    padding-left: 8px;
    text-align: left;
    color: #fff
}

.data-box a,
.data-box h3,
.footer,
.new-tab li,
.news-time,
.news-tit,
.page,
.page a,
.page li,
.sever-tab span {
    text-align: center
}

#search .sub {
    position: absolute;
    top: 21px;
    left: 0;
    color: #666;
    width: 162px;
    height: 176px;
    background: #fff;
    display: none;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #b25a50
}

.data,
.data li {
    position: relative
}

.data,
.data li,
.loc,
.menubox,
.news-tag li,
.s_gray,
.s_green,
.s_red,
.s_yellow {
    overflow: hidden
}

.loc,
.new-tab {
    border-bottom: 1px solid #e2e2e2
}

#search .sub li {
    height: 24px;
    line-height: 24px;
    cursor: pointer
}

#search .sub li a {
    display: block;
    padding-left: 10px;
    color: #898379
}

#search .sub li a:hover {
    background: #fff;
    color: #000
}

.footer,
.footer a {
    color: #666
}

.footer {
    background: #f5fcff;
    padding: 55px 0 25px;
    line-height: 27px
}

.con {
    padding-bottom: 50px
}

.con-l {
    width: 300px;
    padding-left: 14px
}

.con-r {
    float: right;
    width: 790px;
    background: url(http://p4.qhimg.com/t01f04dab699aca5f91.jpg) no-repeat #f4efef;
    padding: 30px 50px 30px 36px
}

.con-l .game-txt {
    float: none
}

.data {
    margin-top: 12px
}

.data ul {
    width: 302px
}

.data li {
    float: left;
    width: 149px;
    height: 78px;
    margin: 0 2px 5px 0
}

.data img {
    display: block;
    transition: .5s;
    -webkit-transition: .5s
}

.data em {
    position: absolute;
    top: 9px;
    left: 11px;
    display: block;
    width: 80px;
    height: 31px;
    transition: .3s;
    -webkit-transition: .3s
}

/*.data em.w1 {*/
    /*background: url(http://p9.qhimg.com/t01425a11d2b319ad91.png) no-repeat*/
/*}*/

/*.data em.w2 {*/
    /*background: url(http://p8.qhimg.com/t013be348608e32d276.png) no-repeat*/
/*}*/

/*.data em.w3 {*/
    /*background: url(http://p9.qhimg.com/t01afa549fbabf1db8d.png) no-repeat*/
/*}*/

/*.data em.w4 {*/
    /*background: url(http://p2.qhimg.com/t0190fe00254893cf5f.png) no-repeat*/
/*}*/

.data-box li,
.news-tag li,
.news-time {
    background: url(http://p4.qhimg.com/t01cf02c3890a39385e.png) bottom center no-repeat
}

.data a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1)
}

.data a:hover em {
    transform: translateX(-7px)
}

.loc {
    height: 32px;
    padding-bottom: 26px;
    line-height: 32px
}

.tit {
    padding-right: 12px;
    color: #877c71;
    font-size: 28px
}

.loc p {
    float: right;
    padding-top: 4px
}

.con-r .show-list {
    height: auto;
    padding: 20px 0 0 28px
}

.con-r .show-list li {
    width: 238px;
    height: 124px;
    margin: 0 6px 12px 10px
}

.video-tit {
    padding-bottom: 8px;
    color: #3a4055;
    font-size: 21px
}

.video-tit span {
    display: block;
    font-size: 12px
}

.new-tab {
    padding-top: 40px
}

.new-tab li {
    float: left;
	padding: 0 20px 15px;
    color: #333;
    font-size: 16px;
    line-height: 18px
}

.new-tab li.cur {
    border-bottom: 1px solid #db6457;
    color: #db6457
}

.news-tag li {
    height: 46px;
    line-height: 46px
}

.news-tag b {
    float: left;
    padding: 0 10px 0 5px;
    font-weight: 400;
    color: #999
}

.news-tag a:hover,
.news-tit {
    color: #db6457
}

.news-tag a {
    float: left;
    width: 650px
}

.news-tag {
    height: auto;
}

.news-tit {
    padding: 30px 0 10px;
    font-size: 24px;
    font-weight: 400
}

.news-time {
    padding-bottom: 16px
}

.news-con-txt {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px
}

.news-con-txt img {
    width: 100%;
    display: block;
    margin: 10px auto
}

.data-box li {
    padding: 0 0 42px
}

.data-box h3 {
    padding-top: 54px;
    font-weight: 400;
    font-family: arial;
    font-size: 28px
}

.data-box h3 span {
    display: block;
    font-size: 12px
}

.data-box li p {
    padding-top: 25px;
    line-height: 26px
}

.data-box a {
    font-size: 14px;
    padding: 0 8px
}

.server-box {
    position: relative;
    padding: 39px 47px 0;
    min-height: 1350px;
    background: #fff
}

.server-box .tit {
    color: #333
}

.userinfo {
    padding-top: 30px
}

.menubox {
    display: block
}

.menubox a {
    padding: 0 5px
}

.exit {
    padding-left: 5px
}

.s_gray,
.s_green,
.s_red,
.s_yellow {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 6px;
    height: 12px
}

.s_green {
    background: #0ade64
}

.s_red {
    background: #b82013
}

.s_yellow {
    background: #e6c405
}

.s_gray {
    background: #bdbdbd
}

.state {
    position: absolute;
    right: 14px;
    top: 109px;
    padding-top: 18px;
    width: 234px
}

.state span {
    float: left;
    position: relative;
    padding: 0 15px 5px
}

.state i {
    top: 2px;
    left: 0
}

.server-title {
    float: left;
    color: #333;
    font-size: 28px
}

.server-list-box {
    padding: 30px 0 18px;
    border-bottom: 1px dashed #d1d1d1
}

.server-list-box .server-list {
    height: auto;
    float: left;
    padding: 7px 0 0;
    margin-left: 30px;
    width: 935px
}

.server-list-box .all-server {
    margin-left: 170px
}

.server-list-box .server-list li {
    position: relative;
    margin: 0 5px 10px 0
}

.server-list-box .server-list a {
    width: 145px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    background: url(http://p8.qhimg.com/t0104f35609031e1c34.png) no-repeat
}

.server-list-box .server-list a:hover {
    background: #816e49
}

.server-list-box .server-list i {
    height: 30px
}

.sever-tab {
    margin-left: 170px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 18px
}

.sever-tab span {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 135px;
    line-height: 18px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    margin-right: 32px;
    padding-bottom: 13px
}

.sever-tab span.cur {
    border-bottom: 1px solid #b82013
}

.page {
    padding: 40px 0
}
.page .pagination {
	justify-content: center;
}
.page li {
    margin-right: 6px
}

.page a,
.page li {
    display: inline-block;
    *zoom: 1;
    color: #7f7f7f;
    cursor: pointer;
    *display: inline
}

.page a.cur,
.page a:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333
}
.page li.active a, .page li.active a:hover {
	background: #333;
    color: #fff;
    border: 1px solid #333;
}

.page a {
    padding: 0 8px;
    border: 1px solid #c5c5c5;
    line-height: 21px;
    transition: .5s;
    -webkit-transition: .5s
}

#SLB-Bottom,
#SLB-BottomRight,
#SLB-Top,
#SLB-Top div {
    background: url(http://p0.qhimg.com/t0177bfd7471a9dedca.png) no-repeat;
    _background: #2d2d2d
}

#SLB-Left,
#SLB-Right,
#SLB-Top a {
    background: url(http://p5.yx-s.com/t01e0db8328a7d1903c.png) no-repeat
}

#SLB-Wrapper {
    display: none;
    margin: auto;
    font-family: Verdana;
    text-align: left;
    position: absolute
}

#SLB-Wrapper #SLB-Background {
    position: absolute;
    left: 7px;
    top: 7px;
    float: left;
    background: #000
}

#SLB-Wrapper #SLB-Top {
    background-position: right 0;
    height: 28px;
    margin: 0 0 0 18px
}

#SLB-Wrapper #SLB-Top a {
    float: right;
    display: inline;
    padding: 0;
    margin: 5px 10px 0 0;
    width: 40px;
    height: 20px;
    text-decoration: none
}

#SLB-Wrapper #SLB-Top a:hover {
    background-position: 0 -16px
}

#SLB-Wrapper #SLB-Top img {
    float: right;
    border: 0;
    margin: 6px 10px;
    width: 41px;
    height: 16px
}

#SLB-Wrapper #SLB-Top div {
    font-size: 0;
    height: 28px;
    left: -18px;
    line-height: 0;
    position: relative;
    width: 18px
}

#SLB-Wrapper #SLB-Bottom {
    background-position: 0 43%;
    height: 20px;
    margin: 0 18px 0 0
}

#SLB-Wrapper #SLB-Bottom #SLB-BottomRight {
    background-position: 100% 43%;
    font-size: 0;
    height: 20px;
    right: -18px;
    line-height: 0;
    position: relative;
    width: 100%;
    float: right
}

#SLB-Wrapper #SLB-Bottom.SLB-bbnav,
#SLB-Wrapper #SLB-Bottom.SLB-bbnav #SLB-BottomRight {
    height: 52px
}

#SLB-Wrapper #SLB-Bottom.SLB-bbnav {
    background-position: 0 100%
}

#SLB-Wrapper #SLB-Bottom.SLB-bbnav #SLB-BottomRight {
    background-position: 100% 100%
}

#SLB-Wrapper #SLB-Contenido {
    border-left: 7px solid #e367aa;
    border-right: 7px solid #e367aa
}

#SLB-Wrapper #SLB-Bottom #SLB-Navegador {
    font-size: 12px;
    color: #fff;
    height: 26px;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin: 10px 0 0;
    line-height: 18px;
    overflow: hidden;
    float: left;
    width: 100%
}

#SLB-Wrapper #SLB-Navegador #SLB-Left,
#SLB-Wrapper #SLB-Navegador #SLB-Right {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 24px;
    text-decoration: none;
    position: relative;
    top: 2px
}

#SLB-Wrapper #SLB-Navegador #SLB-Right {
    background-position: -61px 0;
    margin: 0 18px 0 10px;
    float: right
}

#SLB-Wrapper #SLB-Navegador #SLB-Right:hover {
    background-position: -61px -26px
}

#SLB-Wrapper #SLB-Navegador #SLB-Left {
    background-position: -40px 0;
    margin-right: 10px;
    float: left
}

#SLB-Wrapper #SLB-Navegador #SLB-Left:hover {
    background-position: -40px -26px
}

#SLB-Wrapper #SLB-Navegador strong {
    display: block;
    padding-top: 5px
}
/*footer*/
.new-footer-con {
    position: relative;
    width: 100%;
    background: #ffffff;
    margin: 0 auto;
    height: 120px;
    overflow: hidden;
    padding: 20px;
}
.footer-main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.new-logo,
.new-logo2,
.new-logo3 {
    display: block;
    left: 0;
    position: absolute;
    top: 0
}

.new-logo {
    background: url("../images/Logo GTV_Quy chuan_01_File-01.png") center no-repeat;
    background-size: 100%;
    height: 120px;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
}

.new-logo2 {
    background: url(http://p7.yx-s.com/t0112f012d9c7dfbfb3.png) no-repeat;
    height: 48px;
    left: 270px;
    top: 8px;
    width: 41px
}

.new-logo3 {
    background: url(http://p8.yx-s.com/t01afe2f60da49b6963.png) no-repeat;
    height: 47px;
    left: 268px;
    top: 66px;
    width: 47px
}

.footer-txt {
    color: #747474;
    line-height: 30px;
    padding: 0 0 0 340px
}

.footer-txt a,
.footer-txt span {
    color: #747474;
    padding: 0 5px
}

.footer-txt a:hover {
    text-decoration: underline
}

.main {
    padding-bottom: 85px
}
.in-page .main{
    padding-bottom: 0;
}

/*item-right*/
.sidebar {
    background: url(../images/sidebar.png) center top no-repeat;
    background-size: 100%;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    width: 250px;
    height: 660px;
}
.sidebar>a.android_btn {
    top: 336px;
}
.sidebar>a {
    display: block;
    width: 100px;
    height: 25px;
    position: absolute;
    left: 82px;
    text-indent: -999em;
}
a {
    color: #000;
    text-decoration: none;
}
.sidebar>a.ios_btn {
    top: 372px;
}
.sidebar>a.apk_btn {
    top: 411px;
}
.social_btn {
    position: absolute;
    left: 82px;
    top: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social_btn a.facebook_btn, .social_btn a.forum_btn {
     background-color: #4267B2;
 }
.social_btn a.facebook_btn, .social_btn a.forum_btn {
    background-color: #4267B2;
}
.social_btn a.youtube_btn {
    background-color: #ed1c24;
}
.social_btn a {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    margin: 0 5px;
    border-radius: 50%;
}
.sidebar>a.giftcode_btn {
    width: 125px;
    height: 35px;
    top: 500px;
    left: 80px;
}
.hide-sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
}
.hide-sidebar a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
