/*****************/
/** jNotify CSS **/
/*****************/
#jNotify {
	position:absolute;
	background:#2B2E33;
	color:#dadada;
	padding:10px;
	padding-left:10px;
	z-index:9999;
	-moz-border-radius : 4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	border:1 px solid #3f4248;
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
	margin:50px 0 0;
	right: 35px !important;
	left: auto !important;


}
#jNotify a {color:#35517c !important;text-decoration:none;}

/******************/
/** jSuccess CSS **/
/******************/
#jSuccess {
	position:absolute;
	background:#18A689;
	color:#fff;
	padding:10px;
	padding-left:10px;
	z-index:9999;
	-moz-border-radius : 4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	margin:50px 0 0;
	right: 35px !important;
	left: auto !important;
}
#jSuccess a {color:#eaeaea !important;text-decoration:none;}



/****************/
/** jError CSS **/
/****************/
#jError {
	position:absolute;
	background:#C75757;
	color:#fff;
	padding:10px;
	padding-left:10px;
	z-index:9999;
	-moz-border-radius : 4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	margin:50px 0 0;
	right: 35px !important;
	left: auto !important;
}
#jError a {color:#eaeaea !important;text-decoration:none;}

/** OVERLAY **/
#jOverlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9998
}